<ind-title>Edit beacon</ind-title>

<div class="modal-header">
    <h3>Edit beacon {{::beacon.name}}</h3>
</div>
<form name="beaconForm" class="form-horizontal" ng-submit="beaconForm.$valid && update()">
    <div class="modal-body">
        <ng-include src="'/templates/beacon/form.tpl.html'"></ng-include>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            <i class="icon-white icon-plus"></i> Update
        </button>
        <button ng-click="cancel()" class="btn">Cancel</button>
    </div>
</form>