<div class="control-group" ng-class="{'has-error': beaconForm.name.$invalid && !beaconForm.name.$pristine}">
    <label class="control-label" for="name">Name</label>

    <div class="controls">
        <input id="name" name="name" ng-model="beacon.name" type="text"
               placeholder="Name" class="form-control" required="required"/>
    </div>
</div>

<div class="control-group"
     ng-class="{'has-error': beaconForm.description.$invalid && !beaconForm.description.$pristine}">
    <label class="control-label" for="description">Description</label>

    <div class="controls">
                <textarea id="description" name="description" ng-model="beacon.description"
                          placeholder="Description" class="form-control" rows="3"></textarea>
    </div>
</div>

<div class="control-group" ng-class="{'has-error': beaconForm.vendor.$invalid && !beaconForm.vendor.$pristine}">
    <label class="control-label" for="vendor">Vendor</label>

    <div class="controls">
        <select id="vendor" name="vendor" ng-model="beacon.vendor" class="form-control">
            <option value="" style="display: none;"></option>
            <option value="VENDOR_A">VENDOR A</option>
            <option value="VENDOR_B">VENDOR B</option>
            <option value="OTHER">OTHER</option>
        </select>
    </div>
</div>

<div class="control-group" ng-class="{'has-error': beaconForm.uuid.$invalid && !beaconForm.uuid.$pristine}">
    <label class="control-label" for="uuid">UUID</label>

    <div class="controls">
        <input id="uuid" name="uuid" ng-model="beacon.uuid" type="text"
               placeholder="UUID" class="form-control"/>
    </div>
</div>

<div class="control-group" ng-class="{'has-error': beaconForm.major.$invalid && !beaconForm.major.$pristine}">
    <label class="control-label" for="major">Major</label>

    <div class="controls">
        <input id="major" name="major" ng-model="beacon.major" type="number"
               placeholder="Major" class="form-control"/>
    </div>
</div>

<div class="control-group" ng-class="{'has-error': beaconForm.minor.$invalid && !beaconForm.minor.$pristine}">
    <label class="control-label" for="minor">Minor</label>

    <div class="controls">
        <input id="minor" name="minor" ng-model="beacon.minor" type="number"
               placeholder="Minor" class="form-control"/>
    </div>
</div>

<div class="control-group" ng-class="{'has-error': beaconForm.txPower.$invalid && !beaconForm.txPower.$pristine}">
    <label class="control-label" for="txPower">TX power</label>

    <div class="controls">
        <input id="txPower" name="txPower" ng-model="beacon.txPower" type="number"
               placeholder="TX Power" class="form-control"/>
    </div>
</div>

<div class="control-group" ng-class="{'has-error': beaconForm.lat.$invalid && !beaconForm.lat.$pristine}">
    <label class="control-label" for="lat">Lat</label>

    <div class="controls">
        <input id="lat" name="lat" ng-model="beacon.lat" type="number"
               placeholder="Lat" class="form-control"/>
    </div>
</div>

<div class="control-group" ng-class="{'has-error': beaconForm.lon.$invalid && !beaconForm.lon.$pristine}">
    <label class="control-label" for="lon">Lon</label>

    <div class="controls">
        <input id="lon" name="lon" ng-model="beacon.lon" type="number"
               placeholder="Lon" class="form-control"/>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="installationDate">Installation Date</label>

    <div class="input-group">
        <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" is-open="opened"
               ng-model="beacon.installationDate" ng-required="true" close-text="Close" id="installationDate"/>
                  <span class="input-group-addon" style="cursor:pointer;">
                        <i class="glyphicon glyphicon-calendar" ng-click="open($event)"></i>
                  </span>
    </div>
</div>
