<ind-title>Beacon list</ind-title>

<h1 class="text-center">List of beacons</h1>

<section>
    <a ui-sref="zones" class="btn pull-left">
        Go to zone list
    </a>

    <a ui-sref="beacons.create" class="btn btn-primary pull-right">
        <i class="icon-white icon-plus"></i> Create beacon
    </a>
</section>

<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Vendor</td>
            <td>Uuid</td>
            <td>Major</td>
            <td>Minor</td>
            <td>Tx Power</td>
            <td>Installation date</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="beacon in beaconController.beacons">
            <td>
                <span>{{beacon.id}}</span>
            </td>
            <td>
                <span>{{beacon.name}}</span>
            </td>
            <td>
                <span>{{beacon.description}}</span>
            </td>
            <td>
                <span>{{beacon.vendor}}</span>
            </td>
            <td>
                <span>{{beacon.uuid}}</span>
            </td>
            <td>
                <span>{{beacon.major}}</span>
            </td>
            <td>
                <span>{{beacon.minor}}</span>
            </td>
            <td>
                <span>{{beacon.txPower}}</span>
            </td>
            <td>
                <span>{{beacon.installationDate | date:'dd/MM/yyyy'}}</span>
            </td>
            <td>
                <a ui-sref="beacons.edit({beaconId: beacon.id})" class="btn btn-info btn-xs">Edit</a>
                <a ind-click-confirm="Are you sure?" ind-on-confirm="beaconController.delete(beacon.id)"
                   class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
    </tbody>
</table>