<ind-title>Edit Zone</ind-title>

<div class="modal-header">
    <h3>Edit zone {{::zone.name}}</h3>
</div>
<form name="zoneForm" class="form-horizontal" ng-submit="zoneForm.$valid && update()">
    <div class="modal-body">
        <ng-include src="'/templates/zone/form.tpl.html'"></ng-include>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            <i class="icon-white icon-plus"></i> Update
        </button>
        <button ng-click="cancel()" class="btn">Cancel</button>
    </div>
</form>