<div class="control-group" ng-class="{'has-error': zoneForm.name.$invalid && !zoneForm.name.$pristine}">
    <label class="control-label" for="name">Name</label>

    <div class="controls">
        <input id="name" name="name" ng-model="zone.name" type="text"
               placeholder="Name" class="form-control" required="required"/>
    </div>
</div>

<div class="control-group" ng-class="{'has-error': zoneForm.description.$invalid && !zoneForm.description.$pristine}">
    <label class="control-label" for="description">Description</label>

    <div class="controls">
                <textarea id="description" name="description" ng-model="zone.description"
                          placeholder="Description" class="form-control" rows="3"></textarea>
    </div>
</div>

<div class="control-group" ng-class="{'has-error': zoneForm.size.$invalid && !zoneForm.size.$pristine}">
    <label class="control-label" for="size">Vendor</label>

    <div class="controls">
        <select id="size" name="size" ng-model="zone.size" class="form-control">
            <option value="LARGE">Large</option>
            <option value="MEDIUM">Medium</option>
            <option value="SMALL">Small</option>
        </select>
    </div>
</div>

<div class="control-group" ng-class="{'has-error': zoneForm.beaconId.$invalid && !zoneForm.beaconId.$pristine}">
    <label class="control-label" for="beaconId">Beacon</label>

    <div class="controls">
        <select id="beaconId" name="beaconId" ng-model="zone.beaconId" class="form-control"
                ng-options="beacon.id as beacon.name for beacon in beacons">
            <option style="display:none" value=""></option>
        </select>
    </div>
</div>