<ind-title>Zone list</ind-title>

<h1 class="text-center">List of zones</h1>

<section>
    <a ui-sref="beacons" class="btn pull-left">
        Go to beacon list
    </a>

    <a ui-sref="zones.create" class="btn btn-primary pull-right">
        <i class="icon-white icon-plus"></i> Create zone
    </a>
</section>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>Beacon</td>
            <td>Size</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="zone in zoneController.zones">
            <td>
                <span>{{zone.id}}</span>
            </td>
            <td>
                <span>{{zone.name}}</span>
            </td>
            <td>
                <span>{{zone.description}}</span>
            </td>
            <td>
                <a ui-sref="beacons.edit({beaconId: zone.beacon.id})">{{zone.beacon.name}}</a>
            </td>
            <td>
                <span>{{zone.size}}</span>
            </td>
            <td>
                <a ui-sref="zones.edit({zoneId: zone.id})" class="btn btn-info btn-xs">Edit</a>
                <a ind-click-confirm="Are you sure?" ind-on-confirm="zoneController.delete(zone.id)"
                   class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
    </tbody>
</table>